body, html {
    height: 100%;
  }
  .bg {
    /* The image used */
    /*background-image: url("../img/wallDungeon2.jpg");
    background-color: #ff0000;
    opacity: 0.9;*/
    width: 100%;

    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #avatar{
    min-width: 200px;
    min-height: 300px;
    max-width: 400px!important;
    max-height: 400px!important;
  }

  .hide{
    display: none!important;
  }

  .modal-content{
    background-color: #3a3f48!important;
    color: #fff;
    
  }
  input, .custom-file-label, select, textarea { 
    color: #000!important;
    background: #bec2ca!important; 
  }